#content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../Images/Polytopia.jpg");
    background-size: 100vw 100vh;
}
#content::before {
    content: '';
    position: absolute;
    inset: 0; /* ocupa todo o container */
    background: rgba(0, 0, 0, 0.562); /* camada de escurecimento */
    z-index: 1;
}
.content-text{
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
}
.content-button{
    background-color: rgb(243, 243, 243);
    color: rgb(32, 32, 32);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border: 2px;
    width: 160px;
    height: 40px;
    position: relative;
    z-index: 2;
}
.content-button:hover{
    filter: brightness(75%);
    cursor: pointer;
    transform: scale(106%);
    transition-duration: 120ms;
    filter: opacity(95%);
}
#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}