#nav{
    background-color: rgb(72, 136, 196);
    height: 43px;
    margin: 0;
    display: flex;
    align-items: center;
}
.nav-object{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    text-decoration: none;
    background-color: rgb(72, 136, 196);
    height: 43px;
    width: 90px;
}
.nav-object:hover{
    filter: brightness(85%);
    cursor: pointer;
}